<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <!-- Left side links -->
      <div class="col-md-6">
        <ul class="list-unstyled">
          <li class="d-inline-block me-3">
            <a href="#" class="text-dark">About</a>
          </li>
          <li class="d-inline-block me-3">
            <a href="#" class="text-dark">Advertising</a>
          </li>
          <li class="d-inline-block me-3">
            <a href="#" class="text-dark">Business</a>
          </li>
          <li class="d-inline-block">
            <a href="#" class="text-dark">How Search works</a>
          </li>
        </ul>
      </div>

      <!-- Right side links -->
      <div class="col-md-6 text-end">
        <ul class="list-unstyled">
          <li class="d-inline-block me-3">
            <a href="#" class="text-dark">Privacy</a>
          </li>
          <li class="d-inline-block me-3">
            <a href="#" class="text-dark">Terms</a>
          </li>
          <li class="d-inline-block">
            <a href="#" class="text-dark">Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3 bg-light border-top">
    NDM Company
  </div>
</footer>
